@import "../../../page-components/AppComponent/variables";

.team-modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-modal-error-text {
    color: $color-red;
    margin-bottom: 20px;
}

.team-modal-users-list {
    height: 150px;
    overflow-y: auto;
    margin-top: 10px;

    > .team-modal-user-item {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}