@import "../../../page-components/AppComponent/variables";

.team-list-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    > li {
        display: flex;
        justify-content: space-between;
        padding: 6px 28px 6px 34px;
        margin-bottom: 12px;

        &:hover {
            background-color: #bdabe1;
            transition: all 0.5s ease-in-out;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team-name {
    font-family: Avenir, serif;
    line-height: 1.29;
    color: $color-black;
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active-team {
    background-color: #bdabe1;

    > .team-name {
        color: $color-black;
        font-family: Avenir-Roman, serif;
    }
}

.team-members-count {
    color: $color-black;
}

.empty-team-list {
    color: $color-black;
}
