@import "../../../page-components/AppComponent/variables";

.input-container-text-only {
  border-top: 20px solid transparent;
  position: relative;

  input {
    appearance: none;
    padding: 12px;
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
  }

  label {
    position: absolute;
    left: 12px;
    transform: translateY(50%);
    width: calc(100% - 24px);
    color: $color-black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    transition:
            top 0.3s ease,
            color 0.3s ease,
            font-size 0.3s ease;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label {
    top: 0;
    font-size: 12px;
  }
}