@import "../../../page-components/AppComponent/variables";

.group-modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.group-modal-error-text {
    color: #E6C35E;
    margin-bottom: 20px;
}

.group-modal-users-list {
    height: 150px;
    overflow-y: auto;
    align-self: center;
    margin-top: 10px;

    > .group-modal-user-item {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

