@import "../../../page-components/AppComponent/variables";

.group-modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .input-container-border-bottom {
        margin: 15px 0;

        input {
            bottom: 0;
        }

        label {
            transform: translateY(25%);
        }

        .input-border {
            bottom: 1px;
        }
    }
}

.group-modal-error-text {
    color: #E6C35E;
    margin-bottom: 20px;
}

.group-modal-users-list {
    height: 150px;
    overflow-y: auto;
    align-self: center;
    margin-top: 10px;

    > .group-modal-user-item {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

