.group-modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.group-modal-error-text {
    color: var(--color-red);
    margin-bottom: 20px;
}

.group-modal-users-list {
    height: 150px;
    overflow-y: auto;
    align-self: center;
    margin-top: 10px;
}

.group-modal-users-list > .group-modal-user-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
