@import "../AppComponent/variables";

.channel-list-container {
    background-color: $bg-color-header;
    overflow-y: auto;
    height: calc(100vh - 65px);

    .title {
        color: $color-white;
    }
}

.position-absolute {
    position: absolute;
    z-index: 1;
}

.display-none {
    display: none;
}
