@import "../AppComponent/variables";

.channel-list-container {
    overflow-y: auto;
    height: calc(100vh - 67px);
    color: $color-black;

    .title {
        color: $color-black;
    }
}

.position-absolute {
    position: absolute;
    z-index: 1;
}

.display-none {
    display: none;
}
