.channel-list-container {
    background-color: var(--color-light-black);
    overflow-y: auto;
    height: calc(100vh - 65px);
    flex-basis: 240px;
    min-width: 240px;
}

.position-absolute {
    position: absolute;
    z-index: 1;
}

.display-none {
    display: none;
}
