@import "../AppComponent/variables";

.channel-list-container {
    height: calc(100vh - 67px);
    color: $color-black;

    .title {
        color: $color-black;
    }

    > div {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}

.position-absolute {
    position: absolute;
    z-index: 1;
}

.display-none {
    display: none;
}
