@import "variables";

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../../../assets/fonts/AvenirLTStd-Roman.woff'),
    url('../../../assets/fonts/AvenirLTStd-Roman.woff2');
}

@font-face {
    font-family: 'Avenir';
    src: url('../../../assets/fonts/AvenirLTStd-Book.woff'),
    url('../../../assets/fonts/AvenirLTStd-Book.woff2');
    font-stretch: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scroll-track-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $scroll-color;
    border-radius: 10px;
}

.title {
    color: $color-full-black;
    font-size: 16px;
    line-height: 1.25;
}

.add-img {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.styles-container {
    font-family: Avenir-Roman, serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    height: 100vh;
    width: 100vw;
}
