$color-full-black: #000;
$color-black: #14171a;
$bg-color-header: #4A3F69;
$color-light-black: rgba(23, 26, 30);
$color-img-bg:  #161a1e;
$color-text-grey: #717681;
$time-text-color-grey: #939393;
$color-img-border: #40454b;
$color-green: #24cf5f;
$color-red: #e62c2c;
$color-white: #ffffff;
$color-blue: #2473da;
$color-dark-blue: #1b76ed;
$color-dot-white: #b8bdc5;
$color-text-light-grey: #797f86;
$color-text-white-grey: #80878f;
$color-bg-white-grey: #f3f4f7;
$color-background-blur: #232323;
$scroll-color: darkgreen;
$scroll-track-color: grey;
$chat-container-border-color: #979797;
$white-purple: #9747FF;
$color-grey: #EBEAEA;