@import "../../components/page-components/AppComponent/variables";

.register-page-container {
    display: flex;
    align-items: center;
    color: $color-black;
    height: inherit;
    font-size: 16px;
    justify-content: center;
    overflow-x: hidden;

    .register-page-image-background {
        margin-left: auto;
        width: 50%;
        height: 100%;
    }

    .register-page-error-field {
        position: absolute;
        color: white;
        background-color: red;
        font-size: 12px;
        width: 100%;
        text-align: center;
        bottom: 0;
        height: 18px;
    }

    .register-page-date-picker-container {
        margin-bottom: 18px;
        padding-top: 20px;
        position: relative;

        .date-picker-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .register-page-error-field {
            bottom: -13px;
        }
    }

    > div {
        margin-left: auto;

        > div {
            display: flex;

            &:first-child {
                margin-bottom: 30px;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            > button {
                width: 200px;
                height: 50px;
                background-color: $color-white;
                font-size: 20px;
                margin: 20px 0;
                cursor: pointer;
                border-radius: 3px;
            }

            > div > div {
                display: flex;
                align-items: center;
                flex-direction: column;

                > div:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .input-container-text-only {
        input {
            padding: 4px;
        }

        label {
            font-size: 13px;
            transform: translateY(20%);
        }

        input:not(:placeholder-shown) + label,
        input:focus + label {
            top: -22px;
        }

        & + .register-page-error-field {
            bottom: 7px;
        }
    }

    .input-container-border-bottom {
        input {
            padding: 4px;
        }

        label {
            transform: translateY(20%);
            font-size: 13px;
        }

        input:not(:placeholder-shown) + label,
        input:focus + label {
            top: -23px;
        }

        & + .register-page-error-field {
            bottom: 6px;
        }
    }

    .register-page-gender-container {
        display: flex;
        margin-bottom: 20px;
        position: relative;

        .register-page-error-field {
            bottom: -18px;
            align-items: center;
            justify-content: center;
        }

        > div {
            display: flex;

            > div {
                &:first-child {
                    margin-right: 20px;
                }
            }
        }
    }

    .register-page-language-container {
        position: relative;
        margin-bottom: 20px;

        .register-page-error-field {
            bottom: -18px;
            align-items: center;
            justify-content: center;
        }
            > div {
            display: flex;

            .check-box-container {
                margin-right: 20px;
            }
        }
    }

    .register-page-file-container {
        margin-bottom: 32px;
        position: relative;

        .file-input-container {
            margin-bottom: 0;
        }

        .register-page-error-field {
            bottom: -17px;
        }
    }

    .register-page-login-redirect {
        font-size: 22px;
        text-align: center;

        button {
            border: none;
            padding: 0;
            color: $color-blue;
            background-color: transparent;
            font-size: 22px;
            margin-left: 8px;
            cursor: pointer;
        }
    }

    .input-container-border-full {
        input {
            padding: 4px;
            width: 210px;
        }

        label {
            transform: translateY(20%);
            font-size: 13px;
        }

        .input-border-full {
            width: 100%;
            height: calc(100% - 18px);
            left: 0;
            top: 0;
            transform: none;
            display: flex;
            align-items: center;
            padding-left: 12px;
            border-radius: 3px;
            z-index: 4;

        }
    }

    .register-page-password-container {
        position: relative;

        .register-page-error-field {
            bottom: 5px;
        }
    }

}

.register-page-inner-container {
    input {
        margin-bottom: 18px;
    }

    > div {

        &:first-child {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1100px) {
    .register-page-container {
        .register-page-image-background {
            display: none;
        }

        > div {
            margin: 0 auto;
        }

        .register-page-inner-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 840px) {
    .styles-container {
        width: unset;
        height: unset;
    }

    .register-page-container {
        min-height: 100vh;
        height: unset;

        > div:first-child {
            margin-bottom: 0;
        }
    }

    .register-page-inner-container {
        flex-direction: column;
        font-size: 14px;
        text-align: center;

        > div {
            &:first-child {
                margin-right: 0;
            }
        }
    }
}
