@import "../../page-components/AppComponent/variables";

.user-list-team-user {
    display: flex;
    padding: 16px 0 0 0;
}

.user-list-active-team-user {
    background-color: $color-blue;

    > .user-list-team-user-info {
        > .user-list-team-user-messages {
            > div {
                color: $color-white;
            }
        }
    }

}

.position-relative {
    position: relative;
}

.user-list-team-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 24px;
    margin-right: 16px;
}

.status {
    position: absolute;
    top: -5%;
    left: 35%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 2px #282e36;
}

.on {
    background-color: $color-green;
}

.busy {
    background-color: $color-white;
}

.off {
    background-color: $color-red;
}

.user-list-unread-messages-count {
    position: relative;
    color: black;
    background-color: #1b76ed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: $color-dot-white;
    border-radius: 50%;
}

.dot + .dot {
    margin-left: 2px;
}

.user-list-item-setting {
    position: absolute;
    border: 1px solid $color-green;
    padding: 2px 5px;
    color: $color-green;
    width: 83px;
    top: -14px;
    left: -90px;
    text-align: center;
    transition: all .4s;

    &:hover {
        background-color: $color-red;
        color: $color-white;
        border-color: $color-red;

    }
}


.user-list-team-user-info {
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, 0.5);
    padding-bottom: 16px;
    width: 235px;
}

.user-list-team-user-name {
    display: flex;
    margin-bottom: 2px;
    font-size: 14px;
    justify-content: space-between;

    > div {
        &:first-child {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 176px;
        }
    }
}

.user-list-team-user-messages {
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: $color-text-grey;
    height: 18px;

    > div {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 170px;
    }
}

.user-list-team-user-time {
    margin-left: 15px;
}
