@import "../../page-components/AppComponent/variables";

.user-list-team-user {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 0;
    transition: all .5s ease;
    color: $color-black;

    &:hover {
        background-color: #bdabe1;
    }

    .user-list-full-info {
        display: flex;
        justify-content: space-between;
        margin: 0 24px 0 24px;

        .user-list-full-info-avatar {
            width: 51px;
            position: relative;
        }
    }

    .info {
        display: flex;
        width: calc(100% - 51px);
        justify-content: space-between;

        .info-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 180px;
        }
    }
}

.user-list-active-team-user {
    background-color: #bdabe1;

    .user-list-team-user-name,
    .user-list-team-user-messages,
    .user-list-team-user-time {
        color: $color-white;
    }

    > .user-list-team-user-info {
        > .user-list-team-user-messages {
            > div {
                color: $color-white;
            }
        }
    }
    .info {
        color: $color-white;
    }
}

.position-relative {
    position: relative;
}

.user-list-team-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 16px;
}

.status {
    position: absolute;
    top: 60%;
    left: 51%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 2px #282e36;
}

.on {
    background-color: $color-green;
}

.busy {
    background-color: $color-white;
}

.off {
    background-color: $color-red;
}

.user-list-unread-messages-count {
    position: relative;
    color: black;
    background-color: #1b76ed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 50%;
    left: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: $color-black;
    border-radius: 50%;
}

.dot + .dot {
    margin-left: 2px;
}

.user-list-item-setting {
    position: absolute;
    padding: 2px 5px;
    width: 83px;
    top: -14px;
    left: -90px;
    text-align: center;
    transition: all .4s;
    background-color: $color-red;
    color: $color-white;
    border-color: $color-red;
}


.user-list-team-user-info {
    box-shadow: inset 0 -1px 0 0 #e9e9e9;
    align-self: center;
    display: flex;
    padding: 0 8px 8px 24px;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.user-list-team-user-name {
    display: flex;
    margin-bottom: 2px;
    font-size: 14px;
    justify-content: space-between;
    color: $color-text-light-grey;
    order: 1;

    > div {
        &:first-child {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 176px;
        }
    }
}

.user-list-team-user-messages {
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: $color-text-grey;
    height: 18px;

    > div {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 250px;
    }
}

