@import "../AppComponent/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-header;
    color: $color-white;
    padding: 0 32px ;
    min-height: 65px;
}

@media (max-width: 960px) {
    .header {
        font-size: 12px;

        > .header-nav-bar-container {
            > li {
                padding: 23px 0 24px;
            }
        }

        .active-user-info-block {
            > div {
                &:first-child {
                    max-width: 95px;
                }
            }
        }
    }
}



@media (max-width: 790px) {
    .header {
        > .active-user-info-container {
            align-self: flex-end;
        }

        > .burger-menu {
            display: flex;
        }
    }
}
@media (max-width: 520px) {
    .header {
        padding: 0;

        > .active-user-info-container {
            > ul {
                > li {
                    margin-right: 7px;

                    &:last-child {
                        margin-right: 7px;
                    }

                    > img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        > .burger-menu {
            width: 30px;
            height: 20px;
            margin-left: 5px;

            > .burger-bar {
                width: 30px;
                height: 2px;

                &.clicked {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(1px, 8px);
                        transition: ease-out 0.5s;
                    }

                    &:nth-child(2) {
                        transform: scale(0.1);
                        transition: ease-out 0.5s;
                    }

                    &:nth-child(3) {
                        transform: rotate(135deg) translate(-5px, 12px);
                        transition: ease-out 0.5s;
                    }
                }
            }
        }
    }
}
