.login-page-container {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #161a1e;

    > div {
        margin-bottom: 15px;
        color: #24cf5f;
    }

    > button {
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        background-color: #24cf5f;
        font-size: 20px;
    }
}

.login-page-login-button {
    margin-top: 15px;
}

.login-page-create-text {
    color: green;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-page-container {
    .login-page-error-message {
        color: red;
        font-size: 15px;
    }
}