@import "../../components/page-components/AppComponent/variables";

.login-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .login-page-image-background {
        margin-left: auto;
        width: 50%;
        height: 50%;
    }

    .login-page-inner-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;


        .login-page-header {
            margin-right: 20px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                font-size: 25px;
                margin-bottom: 20px;
                text-align: center;
            }
        }

        .login-page-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            > div {
                margin-bottom: 15px;
                color: $color-full-black;
            }

            > button {
                width: 200px;
                height: 50px;
                text-transform: uppercase;
                font-size: 20px;
                background-color: $color-white;
                cursor: pointer;
            }

            .login-page-login-button {
                margin-top: 15px;
            }

            .login-page-create-text {
                color: $color-full-black;
                font-size: 22px;
                margin-top: 15px;
            }

            .login-page-error-message {
                color: red;
                font-size: 20px;
                margin-top: 10px;
            }

            .login-page-register-button {
                border: none;
                background-color: transparent;
                font-size: 20px;
                color: $color-blue;
                cursor: pointer;
            }
        }

        .login-page-register-redirection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 900px) {
    .login-page-container {
        .login-page-image-background {
            display: none;
        }

        .login-page-inner-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0;
        }
    }
}
