.user-page-load-error {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--color-green);
    background-color: var(--color-black);
}

.user-page-content {
    display: grid;
    grid-template-columns: 240px 350px 220px 1fr;
    min-height: calc(100vh - 65px);
}

@media (max-width: 1250px) {
    .user-page-content {
        grid-template-columns: 240px 350px 1fr;
    }
}

@media (max-width: 1030px) {
    .user-page-content {
        grid-template-columns: 350px 1fr;

        .channel-list-container {
            width: 240px;
        }
    }
}

@media (max-width: 790px) {
    .user-page-content {
        grid-template-columns: 1fr;
    }
}
