.user-page-load-error {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--color-green);
    background-color: var(--color-black);
}

.user-page-content {
    display: grid;
    grid-template-columns: 240px 350px 220px 1fr;
    min-height: calc(100vh - 67px);

    &.user-page-without-info {
        grid-template-columns: 240px 350px 1fr;
    }
}

@media (max-width: 1330px) {
    .user-page-content {

        &.user-page-without-info {
            grid-template-columns: 240px 350px 1fr;
        }
    }
}

@media (max-width: 1110px) {
    .user-page-content {

        &.user-page-without-info {
            grid-template-columns: 350px 1fr;
        }

        .channel-list-container {
            width: 240px;
            background-color: #7006d5;
        }
    }
}

@media (max-width: 790px) {
    .user-page-content {

        &.user-page-without-info {
            grid-template-columns: 1fr;
        }
    }
}
