@import "../../page-components/AppComponent/variables";

.modal-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(31, 32, 41, .75);
}

.modal {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    height: 60%;
    min-height: 400px;
    min-width: 315px;
    margin: 20px auto;
    border-radius: 4px;
    padding-bottom: 20px;
    background-color: $color-white;
    color: $color-black;
    align-self: center;
    font-size: 22px;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
}

.modal-close-btn {
    position: absolute;
    right: 10px;
    top: 5px;

    &:before {
        content: "X";
        font-family: Avenir-Roman, serif;
        font-size: 25px;
        font-weight: bold;
        color: $color-red;
        cursor: pointer;
    }
}

.modal-input {
    border: none;
    background: transparent;
    color: $color-white;
    border-bottom: 2px solid $color-white;
    outline: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.modal-save-btn {
    padding: 15px;
    border: 1px solid $color-black;
    cursor: pointer;
}
