@import "../../page-components/AppComponent/variables";

.modal-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(31, 32, 41, .75);
}

.modal {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35vw;
    height: 500px;
    min-width: 315px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: $color-white;
    padding: 25px;
    color: $color-black;
    align-self: center;
    font-size: 22px;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.modal-input {
    border: none;
    background: transparent;
    color: $color-white;
    border-bottom: 2px solid $color-white;
    outline: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.modal-save-btn {
    padding: 15px;
    border: 1px solid $color-black;
    cursor: pointer;
    background-color: transparent;
}
